{% extends 'base.twig' %}

{% block content %}
  {# ! START: HERO partial/hero-front-page.twig #}
  {% include './partial/hero-front-page.twig' %}
  {# ! END: HERO #}

  {# ! START: liste d'article #}
  {% include './partial/liste-article.twig' %}
  {# ! END: liste d'article #}
{% endblock %}

{% block footer %}
  {# !START: FOOTER #}
  {% include './partial/footer-front.twig' %}
  <footer class="footer">
    <ul class="footer__links">
      <li class="footer__link">
        <a href="#">lien</a>
      </li>
    </ul>
  </footer>
  {# !END: FOOTER #}
{% endblock %}
