{% extends 'base.twig' %}

{% block content %}
  {% include './partial/hero-front-page.twig' %}

  <div class="my-16 wrapper">
    <div class="container px-12 mx-auto mt-4">
      <h2>Liste des articles au sujet de la musique</h2>
      <ul class="article__list">
        {% for item in musics %}
          {% include './partial/liste-article.twig' %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="my-16 wrapper">
    <div class="container px-12 mx-auto mt-4">
      <h2>Liste des articles au sujet de recettes de cuisine</h2>
      <ul class="article__list">
        {% for item in recette %}
          {% include './partial/liste-article.twig' %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include './footer.twig' %}
{% endblock %}
