{% extends 'base.twig' %}

{% block content %}
  {% include './partial/hero-front-page.twig' %}

  <div class="wrapper">
    <div class="container px-12 mt-4">
      <h2>Liste des articles au sujet de la musique</h2>
      <ul class="article__list">
        {% for item in musics %}
          {% include './partial/liste-article.twig' %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {# !START: FOOTER #}
  {% include './footer.twig' %}
  {# !END: FOOTER #}
{% endblock %}
