{% extends 'base.twig' %}

<div class="wrapper" style="background-image: url('https://placehold.co/600x600');">
  <div class="container">
    {# HERO #}
    <div class="hero__container">
      <h1 class="hero__title">titre</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, dicta?</p>
      <div class="group-btn">
        <a href="#">btn 1</a>
        <a href="#">btn 2</a>
      </div>
    </div>
  </div>
</div>
