{% extends 'base.twig' %}

{% block content %}
  <h2>{{ post.title }}</h2>
  <section class="posts__list">
    {# On boucle sur posts pour récupérer les posts via la wp-query dans le .php #}
    <h2 class="text-3xl">Recette</h2>

    {% for item in recettes %}
      <h2 class="text-2xl">{{ item.meta('title') }}</h2>
      <hr />
      <p class="text-xl">{{ item.meta('content') }}</p>
      {{ item.meta('image') }}
    {% endfor %}

    {# On boucle sur posts pour récupérer les posts via la wp-query dans le .php #}
    {% for post in posts %}
      {% include ['tease-' ~ post.post_type ~ '.twig', 'tease.twig'] %}
    {% endfor %}
    <hr />
  </section>
  {# {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %} #}
{% endblock %}
