{% extends 'base.twig' %}
{% block content %}
  {#
  c'est la page d'accueil
 #}
  <div class="wrapper">
    <div class="container">
      <nav></nav>
      <main>
        <ul>
          {% for item in tortues %}
            <a href="">
              <li class="item">
                <div class="container__item">
                  <div class="container__img">
                    <img src="{{ item.meta('title').src }}" alt="" />
                  </div>

                  <div class="container__content">
                    <h2>{{ item.meta('title') }}</h2>
                    <time>{{ item.meta('date') }}</time>
                    <p class="description">{{ item.meta('description') }}</p>
                  </div>
                </div>
              </li>
            </a>
          {% endfor %}
        </ul>
      </main>
    </div>
  </div>
{% endblock %}
