<ul class="flex flex-row items-center justify-center h-24">
  {% for item in menu.items %}
    <li class="{{ item.classes|join(' ') }} px-4">
      <a target="{{ item.target }}" href="{{ item.link }}" class="text-3xl font-black text-slate-600">{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>
