<ul class="flex flex-row items-center justify-center h-24 bg-black">
  {% for item in menu.items %}
    <li class="{{ item.classes|join(' ') }} px-4">
      <a target="{{ item.target }}" href="{{ item.link }}" class="text-slate-50">{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>
