<div class="relative h-screen overflow-hidden text-white bg-gradient-to-r from-purple-600 to-blue-600">
  <div class="absolute inset-0">
    <img src="{{ get_image(post.meta('hero_image')).src }}" alt="Background Image" class="object-cover object-center w-full h-full" />
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>

  <div class="relative z-10 flex flex-col items-center justify-center h-full text-center">
    <h1 class="mb-4 text-5xl font-bold leading-tight">{{ post.meta('hero_title') }}</h1>

    <p class="mb-8 text-lg text-gray-300">{{ post.hero_content }}</p>
    <div class="flex gap-4">
      <a href="#" class="px-6 py-2 text-lg font-semibold text-gray-900 transition duration-300 ease-in-out transform bg-yellow-400 rounded-full hover:bg-yellow-300 hover:scale-105 hover:shadow-lg">Get Started</a>

      <a href="#" class="px-6 py-2 text-lg font-semibold text-gray-900 transition duration-300 ease-in-out transform bg-yellow-400 rounded-full hover:bg-yellow-300 hover:scale-105 hover:shadow-lg">Get Started</a>
    </div>
  </div>
</div>
