<div class="wrapper">
  <div class="container">
    <ul class="article__list">
      <li class="article__list-item">
        <div class="card">
          <img src="https://placehold.co/350x200" alt="Avatar" style="width:100%" />
          <div class="card__container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
